@import "../../style.scss";

.home{
    font-family: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif";
    
    @include themify($themes){
        background-color: themed(bgSoft);
        padding: 20px 70px;

        @include mobile{
            padding: 10px;
        }

        @include tablet{
            padding: 20px;
        }
    }

}